<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{modelname}} / {{layer.name}} / {{channel.name}}</title>
        <link href="{{webroot}}css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <span class="h1">
                    <a style="text-decoration: none" href="{{webroot}}">{{modelname}}</a>
                    /
                    <a style="text-decoration: none" href="{{webroot}}layers/{{layer.slug}}">{{layer.name}}</a>
                    /
                    Chan {{channel.name}}
                </span>
            </div>
            <div class="row">
                <div class="col-2">
                    <h2>Description</h2>
                    <ul class="list-unstyled">
                    </ul>
                </div>
                <div class="col">
                    <h2>Examples</h2>
                    {% for examples in channel.examples %}
                    <h3>{{examples.dataset}}</h3>
                    <div class="d-flex flex-wrap">
                    {% for index in range(examples.images | count) %}
                        <div class="card mb-1 me-1" style="width: 6rem">
                            <a href="{{webroot}}datasets/{{examples.dataset}}/images/image-{{examples.images[index]}}.png">
                            <img src="{{webroot}}datasets/{{examples.dataset}}/images/image-{{examples.images[index]}}.png" class="card-img-top" loading="lazy">
                            </a>
                            <div class="card-body">
                                <div class="card-title" style="font-size: 0.7em">Sample {{examples.images[index]}}</div>
                                <p style="font-size: 0.6em">Act: {{"%.3f" | format(examples.activations[index])}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="{{webroot}}js/bootstrap.bundle.min.js"></script>
    </body>
</html>
