{% extends "base.html" %}
{% block title %}{{title}} / {{layer.name}} / Channel {{channel.index}}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <span class="h1">
            <a href="{{url}}">{{title}}</a>
            /
            <a href="{{layer.url}}">{{layer.name}}</a>
            /
            Channel {{channel.index}}
        </span>
    </div>
    <div class="row">
        <div class="col-2">
            <h2>Description</h2>
            <p>
            Displays the top <i>n</i> images from each dataset, ordered by how strongly they
            activate this channel.
            </p>
        </div>
        <div class="col">
            <h2>Examples</h2>
            {% for examples in channel.examples %}
            <h3><a href="{{examples.dataset.url}}">{{examples.dataset.name}}</a></h3>
            <div class="d-flex flex-wrap">
            {% for sample in examples.samples %}
                <div class="card mb-1 me-1" style="width: 6rem">
                    <a href="{{sample.url}}">
                    <img src="{{sample.imageurl}}" class="card-img-top" loading="lazy">
                    </a>
                    <div class="card-body">
                        <div class="card-title" style="font-size: 0.7em">Sample {{sample.index}}</div>
                        <p style="font-size: 0.6em">Act: {{"%.3f" | format(examples.activations[loop.index0])}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
