<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{modelname}}</title>
        <link href="{{webroot}}css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1 class="display-1">{{modelname}}</h1>
            <div class="row">
                <div class="col">
                    <ul class="list-unstyled">
                        {% for item in model %}
                        <a href="{{webroot}}layer/{{item.name}}.html"><li>{{item.name}} {{item.type}}</li></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <script src="{{webroot}}js/bootstrap.bundle.min.js"></script>
    </body>
</html>
