{% extends "base.html" %}
{% block title %}{{title}} / {{layer.name}}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <span class="h1">
            <a href="{{url}}">{{title}}</a>
            /
            {{layer.name}}
            <a class="btn btn-outline-secondary btn-sm" href="{{layer.prevurl}}">&lt;</a>
            <a class="btn btn-outline-secondary btn-sm" href="{{layer.nexturl}}">&gt;</a>
        </span>
    </div>
    <div class="row">
        <div class="col-2">
            <h2>Description</h2>
            <ul class="list-unstyled">
                <li>Type: {{layer.type}}</li>
                <li>Channels: {{layer.channels|count}}</li>
                <li>Convolution: {{layer.conv}}</li>
            </ul>
        </div>
        <div class="col">
            <h2>Channels</h2>
            <div class="d-flex flex-wrap">
            {% for channel in layer.channels %}
                <a href="{{channel.url}}">
                <div class="card mb-1 me-1" style="width: 6rem">
                    <div class="card-body" style="padding: 0.4rem">
                        <div class="card-title" style="font-size: 0.7rem">Chan {{channel.index}}</div>
                        {% for activations in channel.activations[:1] %}
                        {% for sample in activations.samples[:3] %}
                            <img src="{{sample.imageurl}}" style="width: 1.5rem" loading="lazy">
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
