{% extends "base.html" %}
{% block title %}{{title}} / {{dataset.name}} / Sample {{sample.index}}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <span class="h1">
            <a style="text-decoration: none" href="{{url}}">{{title}}</a>
            /
            <a style="text-decoration: none" href="{{dataset.url}}">{{dataset.name}}</a>
            /
            Sample {{sample.index}}
        </span>
    </div>
    <div class="row">
        <div class="col">
            <h2>Image</h2>
            <img src="{{sample.imageurl}}">
            <h2>Examples</h2>
        </div>
    </div>
</div>
{% endblock %}
