{% extends "base.html" %}
{% block title %}{{title}} / {{dataset.name}} / Sample {{sample.index}}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <span class="h1">
            <a href="{{url}}">{{title}}</a>
            /
            <a href="{{dataset.url}}">{{dataset.name}}</a>
            /
            Sample {{sample.index}}
        </span>
    </div>
    <div class="row">
        <div class="col-2">
            <h2>Description</h2>
            <ul class="list-unstyled">
                <li>Category: {{sample.category}}</li>
            </ul>
        </div>
        <div class="col">
            <h2>Image</h2>
            <img src="{{sample.imageurl}}">
            <h2>Activations</h2>
        </div>
    </div>
</div>
{% endblock %}
