{% extends "base.html" %}
{% block title %}{{title}} / {{dataset.name}} / Sample {{sample.index}}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <span class="h1">
            <a href="{{url}}">{{title}}</a>
            /
            <a href="{{dataset.url}}">{{dataset.name}}</a>
            /
            Sample {{sample.index}}
        </span>
    </div>
    <div class="row">
        <div class="col-2">
            <h2>Description</h2>
            <ul class="list-unstyled">
                <li>Category: {{sample.category}}</li>
            </ul>
        </div>
        <div class="col">
            <h2>Image</h2>
            <img src="{{sample.imageurl}}">
            <h2>Activations</h2>
            {% for activations in sample.activations %}
            <h3><a href="{{activations.layer.url}}">{{activations.layer.name}}</a></h3>
            <div class="d-flex flex-wrap">
            {% for channel in activations.channels %}
                <a href="{{channel.url}}">
                <div class="card mb-1 me-1" style="width: 6rem">
                    <div class="card-body" style="padding: 0.4rem">
                        <div class="card-title" style="font-size: 0.7rem">Chan {{channel.index}}</div>
                        <ul class="list-unstyled" style="font-size: 0.6rem">
                            <li>Act: {{"%.3f" | format(activations.values[loop.index0])}}</li>
                        </ul>
                        {% for activations in channel.activations[:1] %}
                        {% for sample in activations.samples[:3] %}
                            <img src="{{sample.imageurl}}" style="width: 1.5rem" loading="lazy">
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                </a>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
