.dashboard-bar
{
    margin: 12px 12px 0 12px;
    padding: 0;
}

.grid-stack-item-close
{
    font-size: 0.5rem;
    position: absolute;
    right: 4px;
    top: 4px;
}

.grid-stack-item-content
{
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
}

.widget-content
{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 10px 0 0 0;
}

.img-overlay-wrap
{
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img
{
    /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
}

.img-overlay-wrap svg
{
    position: absolute;
    top: 0;
    left: 0;
}

.undecorated-link
{
    text-decoration: none;
}

.undecorated-link:hover
{
    text-decoration: none;
}
