.dashboard-bar
{
    margin: 12px 12px 0 12px;
    padding: 0;
}

.gridster ul
{
    margin: 0;
    padding: 0;
}

.grid-item
{
    list-style: none;
}

.grid-item-close
{
    font-size: 0.6rem;
    opacity: 0;
    position: absolute;
    right: 16px;
    top: 16px;
}

.grid-item-hover .grid-item-close
{
    opacity: 0.5;
}

.grid-item-hover .grid-item-close:hover
{
    opacity: 0.75;
}

.grid-item-content
{
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: stretch;
    overflow: auto;
    padding: 12px 0;
    left: 6px !important;
    right: 6px !important;
    width: 100%;
}

.grid-item h1
/*.grid-stack-item-handle*/
{
    cursor: grab;
}

.gridster .preview-holder
{
    border: 1px dashed #343424;
    border-radius: 4px;
    list-style: none !important;
}

.widget-content
{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.img-overlay-wrap
{
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img
{
    /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
}

.img-overlay-wrap svg
{
    position: absolute;
    top: 0;
    left: 0;
}

/*
.img-overlay-wrap:hover
{
  transform: rotate(15deg);
}
*/

.undecorated-link
{
    text-decoration: none;
}

.undecorated-link:hover
{
    text-decoration: none;
}
